openapi: 3.0.3
info:
  title: Vintrace Operation API
  description: ''
  version: 1.0.0
servers:
  - url: 'https://oz50.vintrace.net/vinx2/api/v7/operation'
    description: Example production url
  - url: 'https://sandbox.vintrace.net/vinx2demo/api/v7/operation'
    description: Example sandbox url
security:
  - bearerAuth: []
paths:
  /shipments:
    parameters:
      - $ref: '#/components/parameters/CorrelationId'
    get:
      summary: Get all shipments in the system
      description: This endpoint returns all the shipments created by Bulk Dispatch and Inter-winery dispatch operations.
      parameters:
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/ModifiedSince'
        - $ref: '#/components/parameters/ModifiedBefore'
        - name: type
          in: query
          required: false
          schema:
            type: string
            example: BULK
          description: Filter the shipments by the operation type.
        - name: dispatchType
          in: query
          required: false
          schema:
            type: string
            example: 'Bottling,Bulk Sale'
          description: |
            Filter the shipments by the dispatch type. 

            Note, the comma is used as delimiter in this param and will conflict if the name dispatch type entity in Vintrace has a comma.
        - name: freightCode
          in: query
          required: false
          schema:
            type: string
            example: 'FC1,FC2'
          description: |
            Filter the shipments by the name of freight code entity.

            Note, the comma is used as delimiter in this param and will conflict if the name has a comma.
        - name: include
          in: query
          required: false
          schema:
            type: string
            example: 'allocations,metrics,cost,composition'
          description: 'By default, allocations, metrics, composition and cost won''t be included in the wine details unless requested using this query param'
      responses:
        '200':
          description: Success
          headers:
            correlation-id:
              description: Unique identifier associated with the transaction
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetShipmentsSuccessResponse'
              examples:
                successShipmentsResponse:
                  value:
                    totalResults: 1000
                    offset: 0
                    limit: 10
                    first: '/api/v7/operation/shipments?offset=0&limit=10&include=allocations,metrics,cost'
                    previous: null
                    next: '/api/v7/operation/shipments?offset=10&limit=10&include=allocations,metrics,cost'
                    last: '/api/v7/operation/shipments?offset=990&limit=10&include=allocations,metrics,cost'
                    results:
                      - id: 1
                        workOrderNumber: TWL-123
                        jobNumber: '2'
                        type: BULK
                        source:
                          id: 2
                          name: Winery A
                          businessUnit: office 1
                        destination:
                          winery: null
                          party:
                            id: 3
                            name: Company A
                            extId: null
                        occurredTime: 1650412615057
                        modifiedTime: 1650412615057
                        carrier:
                          id: 1231
                          name: Awesome Logistics
                          extId: '121321'
                        reference: abc dispatch
                        dispatchType:
                          id: 23423
                          name: Bulk sale
                        freightCode:
                          id: 323423
                          name: FC1
                        reversed: false
                        wineDetails:
                          - vessel: 3920BDC
                            batch: PO108
                            wineBatch:
                              id: 889383
                              name: PO108
                              description: 2021 Napa Valley Chardonnay
                              vintage: '2021'
                              designatedRegion:
                                id: 65
                                name: Napa Valley
                                code: NAV
                              designatedVariety:
                                id: 3333
                                name: Chardonnay
                                code: CHA
                              program: XYZ
                              grading:
                                scaleId: 2
                                scaleName: Wine
                                valueId: 67
                                valueName: A
                            wineryBuilding:
                              id: 38293
                              name: WB-1
                            volume:
                              value: 6000
                              unit: gal
                            loss:
                              volume:
                                value: 10
                                unit: gal
                              reason:
                                id: 32342
                                name: Bottling
                            bottlingDetails: Bottling job 232342
                            weight:
                              value: 1000
                            cost:
                              total: 250000
                              average: 300
                              fruit: 209383
                              overhead: 30000
                              storage: 10000
                              additive: 617
                              bulk: 0
                              packaging: 0
                              operation: 0
                              freight: 0
                              other: 0
                            allocations:
                              - product:
                                  id: 625
                                  name: CHNAVPREM
                                  code: CHV
                                vintage: 2021
                                itemCode: 21CHAVPREM
                                allocationVolume:
                                  value: 600
                                  unit: gal
                                allocationPercentageOfVessel: 100
                            metrics:
                              - name: Alcohol
                                interfaceMappedName: ALC
                                value: 15
                                nonNumericValue: null
                              - name: Brix
                                interfaceMappedName: BRIX
                                value: 0
                                nonNumericValue: null
                              - name: Residual Sugar
                                interfaceMappedName: null
                                value: 18
                                nonNumericValue: null
                              - name: Color 420
                                interfaceMappedName: null
                                value: 15
                                nonNumericValue: null
                            composition:
                              - vintage: 2022
                                variety:
                                  id: 3333
                                  name: Chardonnay
                                region:
                                  id: 65
                                  name: Napa Valley
                                percentage: 100
                                block:
                                  extId: '2342'
        default:
          $ref: '#/components/responses/DefaultError'
  /barrel-treatments:
    parameters:
      - $ref: '#/components/parameters/CorrelationId'
    get:
      summary: Get barrel move shipments
      description: This endpoint returns shipments created by Treatment (barrel) operations.
      parameters:
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/ModifiedSince'
        - $ref: '#/components/parameters/ModifiedBefore'
        - name: treatment
          in: query
          required: false
          schema:
            type: string
            example: 'Barrel Check,Move barrel 1'
          description: |
            Filter the barrel treatment by the name of treatment type. Case sensitive.

            Note, comma is used as delimiter in this param and will conflict if the name has a comma.
      responses:
        '200':
          description: Success
          headers:
            correlation-id:
              description: Unique identifier associated with the transaction
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBarrelTreatmentsSuccessResponse'
              examples:
                successShipmentsResponse:
                  value:
                    totalResults: 1000
                    offset: 0
                    limit: 10
                    first: /api/v7/operation/barrel-treatments?offset=0&limit=10
                    previous: null
                    next: /api/v7/operation/barrel-treatments?offset=10&limit=10
                    last: /api/v7/operation/barrel-treatments?offset=990&limit=10
                    results:
                      - id: 1
                        workOrderNumber: '123'
                        jobNumber: '2'
                        occurredTime: 1650412615057
                        modifiedTime: 1650412615057
                        operator:
                          id: 39203
                          name: 'User, A'
                          extId: null
                        reversed: false
                        treatment:
                          id: 1
                          name: Barrel Check
                          description: ''
                          changeState: SOUSED
                          bolRequired: true
                        barrels:
                          - id: 1
                            name: 2019-0012
                            capacity:
                              value: 225
                              unit: L
                        freightCode:
                          id: 323423
                          name: FC1
                        scale:
                          id: 123213
                          name: Scale 1
                        totalWeight:
                          value: 1
                          unit: kg
                        carrier:
                          id: 88
                          extId: C63535
                          name: Fruit Freight
                        party:
                          id: 88
                          extId: C63535
                          name: Fruit Freight
                        source:
                          id: 5
                          businessUnit: US57
                          name: My Winery
                        reference: XYZ123
                        bolCode: WB1234
        default:
          $ref: '#/components/responses/DefaultError'
  /bookings:
    parameters:
      - $ref: '#/components/parameters/CorrelationId'
    post:
      summary: Upsert this booking into vintrace.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Booking'
            examples:
              createBookingRequest:
                value:
                  bookingNumber: BN1491
                  bookedBy:
                    extId: A-283
                  winery:
                    businessUnit: US57
                  block:
                    extId: U-01234
                  vintage: 2025
                  intendedProduct:
                    extId: P100
                  expectedTime: 1736502300000
                  expectedDurationInMinutes: 120
                  expectedQuantity:
                    value: 5
                    unit: tn
                  bookingState: SCHEDULED
                  harvester:
                    extId: H63536
                  note: Delivery most likely in the early morning.
                  crusher:
                    extId: c-229
                  owner:
                    extId: O39510
                  carrier:
                    extId: C63535
                  receivingScales:
                    extId: 39134
                  receivingVessel:
                    extId: V-11
                  harvestMethod: HAND
                  referenceNumber: REF-XYZ-789
                  numberOfLoads: 3
                  grading:
                    scaleId: 5
                    valueId: 1
      responses:
        '200':
          description: Success
          headers:
            correlation-id:
              description: Unique identifier associated with the transaction
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBookingSuccessResponse'
              examples:
                successResponse:
                  value:
                    data:
                      id: 1491
                      bookingNumber: BN1491
                      bookedBy:
                        id: 1
                        extId: A-283
                        name: 'ADMINISTRATOR, System'
                      winery:
                        id: 5
                        businessUnit: US57
                        name: JX2 Winery
                      block:
                        id: 5
                        extId: U-01234
                        name: CH Block 1
                      grower:
                        id: 92
                        extId: G-1902
                        name: ABE Grower
                      vineyard:
                        id: 20
                        extId: V-129
                        name: ABE Vineyard
                      variety:
                        id: 1
                        name: Chardonnay
                        code: CH
                      region:
                        id: 1
                        name: Napa Valley
                        code: NV
                      subRegion:
                        id: 1
                        name: Oak Knoll District
                        code: OAD
                      appellations:
                        - Napa Valley
                        - Napa County
                      vintage: 2025
                      growerContract:
                        id: 210
                        name: 2025 JX2 CH
                      intendedProduct:
                        id: 10
                        extId: P100
                        name: CHCH21
                      expectedTime: 1736502300000
                      expectedEndTime: 1736502300000
                      expectedDurationInMinutes: 120
                      expectedQuantity:
                        value: 5
                        unit: tn
                      bookingState: SCHEDULED
                      harvester:
                        id: 100
                        extId: H63536
                        name: JX2 Harvesting
                      note: Delivery most likely in the early morning.
                      crusher:
                        id: 1
                        extId: c-229
                        name: Crusher 1
                      owner:
                        id: 1
                        extId: O39510
                        name: JX2 Winery
                      carrier:
                        id: 90
                        extId: C63535
                        name: JX2 Carriers
                      receivingScales:
                        id: 1
                        extId: 39134
                        name: Main scales
                      receivingVessel:
                        id: 99
                        extId: V-11
                        name: F-25
                      harvestMethod: HAND
                      referenceNumber: REF-XYZ-789
                      pickTime: 1723224600000
                      program:
                        id: 9
                        name: JX2 Brand
                      intendedUse:
                        id: 5
                        name: White Table
                      numberOfLoads: 3
                      areaEstimate: 5
                      deliveryType: BINS
                      pmsRate:
                        id: 7
                        value: 100
                        unit: ppm
                      serviceOrder:
                        id: 5
                        name: JX2 2025
                      grading:
                        scaleId: 5
                        scaleName: Quality Grade
                        valueId: 1
                        valueName: A
                      isInactive: false
                      isBulkBooking: false
                      isLastBooking: false
        default:
          $ref: '#/components/responses/DefaultError'
  '/bookings/{bookingId}/deactivation':
    parameters:
      - $ref: '#/components/parameters/CorrelationId'
      - $ref: '#/components/parameters/BookingId'
    post:
      summary: Deactivate this booking record
      requestBody:
        content:
          application/json:
            schema:
              type: object
              nullable: true
      responses:
        '200':
          description: Success
          headers:
            correlation-id:
              description: Unique identifier associated with the transaction
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingDeactivationResponse'
              examples:
                deactivateBookingResponse:
                  value:
                    data:
                      inactive: true
        default:
          $ref: '#/components/responses/DefaultError'
  /fruit-intakes:
    parameters:
      - $ref: '#/components/parameters/CorrelationId'
    post:
      summary: Record a new fruit intake transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FruitIntakeRequest'
            examples:
              unplannedArrival:
                value:
                  block:
                    extId: U01234
                  vintage: 2022
                  bookingNumber: B9288
                  owner:
                    extId: O66253
                  dateOccurred: 164876283628
                  timeOut: 164876283628
                  timeIn: 164876293628
                  weighTag: PH-OB-50228768760
                  externalWeighTag: PH-OB-50228768760
                  winery:
                    businessUnit: US57
                  scale:
                    name: TRUCK SCALES
                  gross:
                    value: 7.54
                    unit: tn
                  tare:
                    value: 2.5
                    unit: tn
                  net:
                    value: 5.04
                    unit: tn
                  jobStatus: complete
                  intendedProduct:
                    name: CHCH21
                  unitPrice:
                    value: 1200
                    unit: $ / ton
                  metrics:
                    - name: Brix
                      value: 23
                    - name: MOG
                      value: 2
                    - name: NIRS
                      value: 54
                    - name: pH
                      value: 3.4
                    - name: Temp
                      value: 65
                    - name: VA
                      value: 2.9
                  harvestMethod: machine
                  weighMasterText: Deputy John Smith
                  carrier:
                    name: Acme Trucking
                  consignmentNote: TH78352
                  driverName: Adam Sapple
                  lastLoad: true
                  operatorNotes: My operator notes
                  truckRegistration: ABC-123
              scheduledBooking:
                value:
                  vintage: 2022
                  bookingNumber: B9288
                  owner:
                    extId: O66253
                  dateOccurred: 164876283628
                  timeOut: 164876283628
                  timeIn: 164876293628
                  weighTag: PH-OB-50228768760
                  externalWeighTag: PH-OB-50228768760
                  winery:
                    businessUnit: US57
                  scale:
                    name: TRUCK SCALES
                  gross:
                    value: 7.54
                    unit: tn
                  tare:
                    value: 2.5
                    unit: tn
                  net:
                    value: 5.04
                    unit: tn
                  jobStatus: complete
                  intendedProduct:
                    name: CHCH21
                  unitPrice:
                    value: 1200
                    unit: $ / ton
                  metrics:
                    - name: Brix
                      value: 23
                    - name: MOG
                      value: 2
                    - name: NIRS
                      value: 54
                    - name: pH
                      value: 3.4
                    - name: Temp
                      value: 65
                    - name: VA
                      value: 2.9
                  harvestMethod: machine
                  weighMasterText: Deputy John Smith
                  carrier:
                    name: Acme Trucking
                  consignmentNote: TH78352
                  driverName: Adam Sapple
                  lastLoad: false
                  operatorNotes: My operator notes
                  truckRegistration: ABC-123
              autoLinkEarliestBooking:
                value:
                  block:
                    extId: U01234
                  vintage: 2022
                  linkEarliestBooking: true
                  owner:
                    extId: O66253
                  dateOccurred: 164876283628
                  timeOut: 164876283628
                  timeIn: 164876293628
                  weighTag: PH-OB-50228768760
                  externalWeighTag: PH-OB-50228768760
                  winery:
                    businessUnit: US57
                  scale:
                    name: TRUCK SCALES
                  gross:
                    value: 7.54
                    unit: tn
                  tare:
                    value: 2.5
                    unit: tn
                  net:
                    value: 5.04
                    unit: tn
                  jobStatus: complete
                  intendedProduct:
                    name: CHCH21
                  unitPrice:
                    value: 1200
                    unit: $ / ton
                  metrics:
                    - name: Brix
                      value: 23
                    - name: MOG
                      value: 2
                    - name: NIRS
                      value: 54
                    - name: pH
                      value: 3.4
                    - name: Temp
                      value: 65
                    - name: VA
                      value: 2.9
                  harvestMethod: machine
                  weighMasterText: Deputy John Smith
                  carrier:
                    name: Acme Trucking
                  consignmentNote: TH78352
                  driverName: Adam Sapple
                  lastLoad: false
                  truckRegistration: ABC-123
      responses:
        '201':
          description: Success
          headers:
            correlation-id:
              description: Unique identifier associated with the transaction
              schema:
                type: string
                format: uuid
            Location:
              description: The URI of newly created resource
              schema:
                type: string
              example: /fruit-intakes/7177
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFruitIntakeSuccessResponse'
              examples:
                successResponse:
                  value:
                    data:
                      id: 571
                      block:
                        id: 5
                        extId: U01234
                        name: CH1
                      vintage: 2022
                      bookingNumber: B9288
                      owner:
                        id: 1
                        extId: O66253
                        name: CBI
                      dateOccurred: 164876283628
                      timeOut: 164876283628
                      timeIn: 164876293628
                      weighTag: PH-OB-50228768760
                      externalWeighTag: PH-OB-50228768760
                      winery:
                        id: 5
                        businessUnit: US57
                        name: My Winery
                      scale:
                        id: 123
                        name: TRUCK SCALES
                      gross:
                        value: 7.54
                        unit: tn
                      tare:
                        value: 2.5
                        unit: tn
                      net:
                        value: 5.04
                        unit: tn
                      jobStatus: complete
                      intendedProduct:
                        name: CHCH21
                      unitPrice:
                        value: 1200
                        unit: $ / ton
                      metrics:
                        - name: Brix
                          value: 23
                        - name: MOG
                          value: 2
                        - name: NIRS
                          value: 54
                        - name: pH
                          value: 3.4
                        - name: Temp
                          value: 65
                        - name: VA
                          value: 2.9
                      harvestMethod: machine
                      weighMasterText: Deputy John Smith
                      carrier:
                        id: 77
                        extId: C7363
                        name: Acme Trucking
        default:
          $ref: '#/components/responses/DefaultError'
  '/fruit-intakes/{fruitIntakeId}/pricing':
    parameters:
      - $ref: '#/components/parameters/CorrelationId'
      - $ref: '#/components/parameters/FruitIntakeId'
    put:
      summary: Update the pricing related data for this fruit intake record
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFruitIntakePricing'
            example:
              gross:
                value: 7.54
                unit: tn
              tare:
                value: 2.5
                unit: tn
              net:
                value: 5.04
                unit: tn
              unitPrice:
                value: 1200
                unit: $ / ton
      responses:
        '200':
          description: Success
          headers:
            correlation-id:
              description: Unique identifier associated with the transaction
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFruitIntakePricingResponse'
              example:
                data:
                  gross:
                    value: 7.54
                    unit: tn
                  tare:
                    value: 2.5
                    unit: tn
                  net:
                    value: 5.04
                    unit: tn
                  unitPrice:
                    value: 1200
                    unit: $ / ton
        default:
          $ref: '#/components/responses/DefaultError'
  '/fruit-intakes/{fruitIntakeId}/metrics':
    parameters:
      - $ref: '#/components/parameters/CorrelationId'
      - $ref: '#/components/parameters/FruitIntakeId'
    put:
      summary: Update the metrics for this fruit intake record
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMetrics'
            example:
              metrics:
                - name: Brix
                  value: 23
                - name: MOG
                  value: 2
                - name: NIRS
                  value: 54
                - name: pH
                  value: 3.4
                - name: Temp
                  value: 65
                - name: VA
                  value: 2.9
      responses:
        '200':
          description: Success
          headers:
            correlation-id:
              description: Unique identifier associated with the transaction
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMetricsResponse'
              example:
                data:
                  metrics:
                    - name: Brix
                      value: 23
                    - name: MOG
                      value: 2
                    - name: NIRS
                      value: 54
                    - name: pH
                      value: 3.4
                    - name: Temp
                      value: 65
                    - name: VA
                      value: 2.9
        default:
          $ref: '#/components/responses/DefaultError'
  /bulk-intakes:
    post:
      summary: Create a new bulk intake
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkIntakeRequest'
            examples:
              createBulkIntakeWithVirtualVesselRequest:
                value:
                  occurredTime: 164876283628
                  wineDetails:
                    virtualVessel: true
                    batch: 09a9ds
                    winery:
                      businessUnit: US57
                    ownership:
                      - owner:
                          extId: S32342
                        percentage: 100
                    volume:
                      value: 9923
                      unit: gal
                    fractionType: FREE_RUN
                    fermentState: STOPPED
                    malolacticState: STOPPED
                    beverageType: Red
                    reference: ABC Wine
                    yieldRate: 200
                    batchOwner:
                      id: 1
                      extId: O66253
                      name: CBI
                  composition:
                    - vintage: 2022
                      variety:
                        name: Chardonnay
                      region:
                        name: Napa Valley
                      subRegion:
                        name: SubA
                      percentage: 100
                      block:
                        extId: '2342'
                  cost:
                    amount: 39234
                    rate: TOTAL
                    freight: 232.2
                    ttbDetails:
                      taxState: BONDED
                      taxClass:
                        name: 14 to 16%
                  deliveryDetails:
                    purchaseOrder:
                      name: VDP09
                    receivedFrom:
                      extId: 32342
                    shippingRefNo: 32423
                    truckNo: W123S
                    driverName: Smiths
                    sealNo: A93232
                    compartmentNo: 2
                    cipNo: 2222
                    container: XX container
                    customsEntryNumber: ABD-3923-CC
                    carrier:
                      extId: AD2342
                    purchaseReference: S9302
                    deliveryState: IN_TRANSIT
                  metrics:
                    - name: Brix
                      value: 23
                    - name: MOG
                      value: 2
                    - name: NIRS
                      value: 54
                    - name: pH
                      value: 3.4
                    - name: Temp
                      value: 65
                    - name: VA
                      value: 2.9
              createBulkIntakeWithRealVesselRequest:
                value:
                  occurredTime: 164876283628
                  wineDetails:
                    vessel: ABC-vessel
                    batch: 09a9ds
                    winery:
                      businessUnit: US57
                    ownership:
                      - owner:
                          extId: S32342
                        percentage: 100
                    volume:
                      value: 9923
                      unit: gal
                    fractionType: FREE_RUN
                    fermentState: STARTED
                    malolacticState: STARTED
                    beverageType: Red
                    reference: ABC Wine
                    productState: Centrifuged
                    batchOwner:
                      id: 1
                      extId: O66253
                      name: CBI
                  composition:
                    - vintage: 2022
                      variety:
                        name: Chardonnay
                      region:
                        name: Napa Valley
                      subRegion:
                        name: SubA
                      percentage: 100
                      block:
                        extId: '2342'
                  cost:
                    amount: 39234
                    rate: TOTAL
                    freight: 232.2
                    ttbDetails:
                      taxState: BONDED
                      taxClass:
                        name: 14 to 16%
                  deliveryDetails:
                    purchaseOrder:
                      name: VDP09
                    receivedFrom:
                      extId: 32342
                    shippingRefNo: 32423
                    truckNo: W123S
                    driverName: Smiths
                    sealNo: A93232
                    compartmentNo: 2
                    cipNo: 2222
                    container: XX container
                    customsEntryNumber: ABD-3923-CC
                    carrier:
                      extId: AD2342
                    purchaseReference: S9302
                    deliveryState: IN_TRANSIT
                  metrics:
                    - name: Brix
                      value: 23
                    - name: MOG
                      value: 2
                    - name: NIRS
                      value: 54
                    - name: pH
                      value: 3.4
                    - name: Temp
                      value: 65
                    - name: VA
                      value: 2.9
      responses:
        '201':
          description: Success
          headers:
            correlation-id:
              description: Unique identifier associated with the transaction
              schema:
                type: string
                format: uuid
            Location:
              description: The URI of newly created resource
              schema:
                type: string
              example: /bulk-intakes/2342
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBulkIntakeSuccessResponse'
              examples:
                successResponse:
                  value:
                    data:
                      id: 71771
                      occurredTime: 164876283628
                      wineDetails:
                        vessel: AVESSEL
                        batch: 09a9ds
                        ownership:
                          - owner:
                              id: 234234
                              extId: S32342
                              name: A winery
                            percentage: 100
                        volume:
                          value: 9923
                          unit: gal
                        fractionType: FREE_RUN
                        fermentState: STARTED
                        malolacticState: STARTED
                        beverageType: Red
                        reference: ABC Wine
                        yieldRate: 200
                        batchOwner:
                          id: 1
                          extId: O66253
                          name: CBI
                      composition:
                        - vintage: 2022
                          variety:
                            id: 3333
                            name: Chardonnay
                          region:
                            id: 65
                            name: Napa Valley
                          subRegion:
                            id: 66
                            name: SubA
                          percentage: 100
                          block:
                            extId: '2342'
                      cost:
                        amount: 39234
                        rate: TOTAL
                        freight: 232.2
                        ttbDetails:
                          taxState: BONDED
                          taxClass:
                            id: 653
                            name: 14 to 16%
                            federalName: <16%
                            stateName: 14 to 21%
                      deliveryDetails:
                        purchaseOrder:
                          id: 3232121
                          name: VDP09
                        receivedFrom:
                          id: 39203
                          name: Cellar
                          extId: 32342
                        shippingRefNo: 32423
                        truckNo: W123S
                        driverName: Smiths
                        sealNo: A93232
                        compartmentNo: 2
                        cipNo: 2222
                        container: XX container
                        customsEntryNumber: ABD-3923-CC
                        carrier:
                          id: 39203
                          name: Goods Logistics
                          extId: AD2342
                        purchaseReference: S9302
                        deliveryState: IN_TRANSIT
                      metrics:
                        - name: Brix
                          value: 23
                        - name: MOG
                          value: 2
                        - name: NIRS
                          value: 54
                        - name: pH
                          value: 3.4
                        - name: Temp
                          value: 65
                        - name: VA
                          value: 2.9
        default:
          $ref: '#/components/responses/DefaultError'
    get:
      summary: Get the bulk intake records in the system
      description: Search all bulk intake records in the system matching the criteria
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/ModifiedSince'
        - $ref: '#/components/parameters/ModifiedBefore'
        - name: purchaseReference
          in: query
          required: false
          schema:
            type: string
          description: Filter the search result by purchase reference. Support equal operation
          examples:
            equalTo:
              value: 'eq:29320342'
      responses:
        '200':
          description: Success
          headers:
            correlation-id:
              description: Unique identifier associated with the transaction
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBulkIntakesSuccessResponse'
              examples:
                successResponse:
                  value:
                    totalResults: 1000
                    offset: 0
                    limit: 10
                    first: /bulk-intakes?offset=0&limit=10
                    previous: null
                    next: /bulk-intakes?offset=10&limit=10
                    last: /bulk-intakes?offset=990&limit=10
                    results:
                      - id: 71771
                        occurredTime: 164876283628
                        reversed: false
                        wineDetails:
                          vessel: AVESSEL
                          batch: 09a9ds
                          ownership:
                            - owner:
                                id: 234234
                                extId: S32342
                                name: A winery
                              percentage: 100
                          volume:
                            value: 9923
                            unit: gal
                          fractionType: FREE_RUN
                          fermentState: FERMENTED
                          malolacticState: FERMENTED
                          beverageType: Red
                          reference: ABC Wine
                          yieldRate: 200
                          batchOwner:
                            id: 1
                            extId: O66253
                            name: CBI
                        composition:
                          - vintage: 2022
                            variety:
                              id: 3333
                              name: Chardonnay
                            region:
                              id: 65
                              name: Napa Valley
                            percentage: 100
                            block:
                              extId: '2342'
                        cost:
                          amount: 39234
                          rate: TOTAL
                          freight: 232.2
                          ttbDetails:
                            taxState: BONDED
                            taxClass:
                              id: 653
                              name: 14 to 16%
                              federalName: <16%
                              stateName: 14 to 21%
                        deliveryDetails:
                          purchaseOrder:
                            id: 93023
                            name: PO-2342
                          receivedFrom:
                            id: 39203
                            name: Cellar
                            extId: 32342
                          shippingRefNo: '32423'
                          truckNo: W123S
                          driverName: Smiths
                          sealNo: A93232
                          compartmentNo: 2
                          cipNo: 2222
                          container: XX container
                          customsEntryNumber: ABD-3923-CC
                          carrier:
                            id: 39203
                            name: Goods Logistics
                            extId: AD2342
                          deliveryState: IN_TRANSIT
        default:
          $ref: '#/components/responses/DefaultError'
  '/bulk-intakes/{id}':
    patch:
      summary: Partially update some fields in the bulk intake record
      description: |
        Provide functionality to update only some fields in the bulk intake record.

        Note, not all fields will support this PATCH operation. Consult with developers for your use case.
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/VintraceEntityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: common-schemas.yaml#/components/schemas/PatchRequest
            examples:
              updateDeliveryState:
                value:
                  - path: /deliveryDetails/deliveryState
                    op: REPLACE
                    value: COMPLETE
      responses:
        '204':
          description: Update is successful
          headers:
            correlation-id:
              description: Unique identifier associated with the transaction
              schema:
                type: string
                format: uuid
  /trial-blends:
    get:
      summary: Get the trial blend records in the system
      description: Get the trial blend records in the system
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/ModifiedSince'
        - $ref: '#/components/parameters/ModifiedBefore'
        - name: status
          in: query
          required: false
          schema:
            type: string
          description: |
            Filter the search result by status. Support multiple status in the value delimited by comma.

            For complete list of values, refer to the enums of status field in TrialBlend schema.
          examples:
            filterByOneStatus:
              value: REQUEST_FOR_APPROVAL
            filterByTwoStatus:
              value: 'REQUEST_FOR_APPROVAL,DRAFT'
        - name: compositionSummaryBy
          in: query
          required: false
          schema:
            type: string
          description: |
            Provide a summarised composition view based on the types provided in the query param. 

            This query param support multiple types delimited by comma. Currently, you can summarize by variety,vintage,region,subRegion
          example: 'variety,vintage,region,sub_region'
      responses:
        '200':
          description: Success
          headers:
            correlation-id:
              description: Unique identifier associated with the transaction
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTrialBlendsSuccessResponse'
              examples:
                successResponseWithComposition:
                  value:
                    totalResults: 1000
                    offset: 0
                    limit: 10
                    first: '/api/v7/operation/trial-blends?offset=0&limit=10&type=vintage,variety,region,sub_region'
                    previous: null
                    next: '/api/v7/operation/trial-blends?offset=10&limit=10&type=vintage,variety,region,sub_region'
                    last: '/api/v7/operation/trial-blends?offset=990&limit=10&type=vintage,variety,region,sub_region'
                    results:
                      - reference: f137add1-3226-11ed-8f7d-0242ac110002
                        name: TB-32342
                        description: A trial blend
                        year: '2022'
                        winery:
                          id: 92032
                          name: Winery A
                          businessUnit: null
                        operator:
                          id: 39203
                          name: 'User, A'
                          extId: null
                        trialDate: 164876284000
                        modifiedTime: 164876284000
                        cost: 50.23
                        amount:
                          unit: L
                          value: 30
                        sampleVolume:
                          unit: L
                          value: 0.3
                        status: DRAFT
                        composition:
                          summary:
                            - type: VINTAGE
                              elements:
                                - name: 2022
                                  percentage: 60
                                - name: 2021
                                  percentage: 40
                            - type: VARIETY
                              elements:
                                - name: Chardonnay
                                  percentage: 100
                            - type: REGION
                              elements:
                                - name: Napa Valley
                                  percentage: 100
                            - type: SUB_REGION
                              elements:
                                - name: Rutherford
                                  percentage: 30
                                - name: UNSPECIFIED
                                  percentage: 70
        default:
          $ref: '#/components/responses/DefaultError'
  /work-orders:
    get:
      summary: Get all the work orders in the system
      description: Return all work orders matching the supplied query param conditions
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/PaginationLimit'
        - name: scheduledSince
          in: query
          required: false
          schema:
            type: integer
            format: int64
            example: 164876284000
          description: Only include work orders that are scheduled since the provided time stamp. The value is required to be in epoch milliseconds and inclusive.
        - name: scheduledBefore
          in: query
          required: false
          schema:
            type: integer
            format: int64
            example: 164876284000
          description: Only include work orders that are scheduled before the provided time stamp. The value is required to be in epoch milliseconds and inclusive.
        - name: status
          in: query
          required: false
          schema:
            type: string
            example: 'READY,IN_PROGRESS'
          description: |
            Only include work orders that are in the provided status list.

            Support multiple types delimited by comma.
        - name: operationTypes
          in: query
          required: false
          schema:
            type: string
            example: 'TIRAGE,BULK_DISPATCH'
          description: |
            Only include work orders that have the type of winery jobs in the provided list.

            Support multiple types delimited by comma.
      responses:
        '200':
          description: Success
          headers:
            correlation-id:
              description: Unique identifier associated with the transaction
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWorkOrdersSuccessResponse'
              examples:
                successResponseWithComposition:
                  value:
                    totalResults: 1000
                    offset: 0
                    limit: 10
                    first: /vinx2/api/v7/operation/work-orders?offset=0&limit=10
                    previous: null
                    next: /vinx2/api/v7/operation/work-orders?offset=10&limit=10
                    last: /vinx2/api/v7/operation/work-orders?offset=990&limit=10
                    results:
                      - id: 932032
                        name: TWL-123
                        assignedTo:
                          id: 39203
                          name: 'User, A'
                          extId: null
                        issuedBy:
                          id: 39204
                          name: 'User, B'
                          extId: null
                        status: READY
                        scheduledTime: 164876284000
                        summary: 'Bottling to A-SINGLE WINERY, user'
                        jobs:
                          - id: 2323
                            type: WINERY
                            jobNumber: 1
                            status: ASSIGNED
                            scheduledTime: 164876284000
                            finishedTime: null
                            operationType: TIRAGE
                            link:
                              href: '/vinx2/api/v7/operation/tirage/job:2323'
                              rel: latest-version
                              method: GET
        default:
          $ref: '#/components/responses/DefaultError'
  '/tirage/{operationId}':
    get:
      summary: Get a tirage operation information in the system
      description: |
        This endpoint returns the completed or scheduled tirage operation associated with the id.

        When scheduled operations is not completed, their data returned in this endpoint can be different because users can change the fields in the operation window after it's scheduled.
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/OperationId'
      responses:
        '200':
          description: Success
          headers:
            correlation-id:
              description: Unique identifier associated with the transaction
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TirageSuccessResponse'
              example:
                data:
                  id: 1231
                  workOrderNumber: TWL-123
                  jobNumber: 1
                  occurredTime: 1665013612000
                  modifiedTime: 1665013612000
                  operator:
                    id: 39203
                    name: 'User, A'
                    extId: null
                  reversed: false
                  groupName: TIR100
                  sourceWine:
                    vessel: 66
                    batch: 11CHBLRR
                    designatedProduct:
                      id: 625
                      name: CHNAVPREM
                      code: CHV
                    productionYear: 2022
                    winery:
                      id: 3
                      name: Winery B
                      businessUnit: department 1
                    wineryBuilding:
                      id: 38293
                      name: WB-1
                  outVolume:
                    value: 6000
                    unit: gal
                  loss:
                    volume:
                      value: 10
                      unit: gal
                    reason:
                      id: 32342
                      name: Bottling
                  package:
                    quantity:
                      value: 100
                      unit: units
                    tirageItem:
                      id: 93232
                      name: 20TIRAGE
                    tirageBatch: 10CHLEES
                    totalPackagedVolume:
                      value: 12000
                      unit: gal
        default:
          $ref: '#/components/responses/DefaultError'
    patch:
      summary: Partially update fields in the tirage record
      description: |
        Provide functionality to update some fields in the tirage record.

        Note, depending on the status of tirage operation, not all fields are allowed to be updated. Consult with Vintrace developers for your use case.
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/OperationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: common-schemas.yaml#/components/schemas/PatchRequest
            examples:
              updateQuantityField:
                value:
                  - path: /package/quantity
                    op: REPLACE
                    value: 200
              updateGroupNameField:
                value:
                  - path: /groupName
                    op: REPLACE
                    value: new group name
      responses:
        '204':
          description: Update is successful
          headers:
            correlation-id:
              description: Unique identifier associated with the transaction
              schema:
                type: string
                format: uuid
  /barrels-movements:
    parameters:
      - $ref: '#/components/parameters/CorrelationId'
    post:
      summary: move barrels
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveBarrelsRequest'
            examples:
              moveBarrelsInABarrelGroup:
                value:
                  occurredTime: 164876283628
                  operator:
                    id: 39203
                  additionalInstructions: ''
                  operatorNotes: operatorNotes
                  documentIds:
                    - 41
                    - 40
                  targetBatch: null
                  movements:
                    - vessel:
                        id: 1
                      newStorageAreas:
                        - vesselToMove: barrel1
                          storageArea:
                            name: Area 51
                          aisle: 2
                          stack: Stack10
                          toStack: Stack20
                          positions:
                            - level: 3
                              orientation: LEFT
                        - vesselToMove: barrel2
                          storageArea:
                            name: Area 52
                          aisle: 3
                          stack: Stack11
                          toStack: Stack201
                          positions:
                            - level: 2
                              orientation: LEFT
              moveSingleBarrelGroup:
                value:
                  occurredTime: 164876283628
                  operator:
                    id: 39203
                  additionalInstructions: ''
                  operatorNotes: operatorNotes
                  documentIds:
                    - 41
                    - 40
                  targetBatch: null
                  movements:
                    vessel:
                      id: 1
                    newStorageAreas:
                      - storageArea:
                          name: Area 51
                        aisle: 2
                        stack: Stack10
                        toStack: Stack20
                        positions:
                          - level: 3
                            orientation: LEFT
                      - storageArea:
                          name: Area 52
                        aisle: 3
                        stack: Stack11
                        toStack: Stack21
                        positions:
                          - level: 2
                            orientation: LEFT
              moveSingleBarrel:
                value:
                  occurredTime: 164876283628
                  operator:
                    id: 39203
                  operatorNotes: operatorNotes
                  documentIds:
                    - 41
                    - 40
                  movements:
                    - vessel:
                        name: barrel
                      newStorageAreas:
                        - storageArea:
                            name: Area 52
                          aisle: 3
                          stack: Stack11
                          toStack: Stack21
                          positions:
                            - level: 2
                              orientation: LEFT
              moveBarrelToNewBatch:
                value:
                  occurredTime: 164876283628
                  operator:
                    id: 39203
                  operatorNotes: operatorNotes
                  documentIds:
                    - 41
                    - 40
                  targetBatch: batch
                  movements:
                    - vessel:
                        id: 123
                      newStorageAreas:
                        - storageArea:
                            name: Area 52
                          aisle: 3
                          stack: Stack11
                          toStack: Stack21
                          positions:
                            - level: 2
                              orientation: LEFT
              moveEmptyBarrel:
                value:
                  movements:
                    - vessel:
                        name: barrel
                      newStorageAreas:
                        - storageArea:
                            name: Area 52
                          aisle: 3
                          stack: Stack11
                          toStack: Stack21
                          positions:
                            - level: 2
                              orientation: LEFT
              moveEmptyBarrelGroup:
                value:
                  movements:
                    - vessel:
                        name: barrel group
                      newStorageAreas:
                        - storageArea:
                            name: Area 51
                          aisle: 2
                          stack: Stack10
                          toStack: Stack20
                          positions:
                            - level: 3
                              orientation: LEFT
                        - storageArea:
                            name: Area 52
                          aisle: 3
                          stack: Stack11
                          toStack: Stack21
                          positions:
                            - level: 2
                              orientation: LEFT
              moveEmptyBarrelGroupIndividualBarrel:
                value:
                  movements:
                    - vessel:
                        name: barrel group
                      newStorageAreas:
                        - vesselToMove: barrel1
                          storageArea:
                            name: Area 51
                          aisle: 2
                          stack: Stack10
                          toStack: Stack20
                          positions:
                            - level: 3
                              orientation: LEFT
                        - vesselToMove: barrel2
                          storageArea:
                            name: Area 52
                          aisle: 3
                          stack: Stack11
                          toStack: Stack201
                          positions:
                            - level: 2
                              orientation: LEFT
              multiMove:
                value:
                  occurredTime: 164876283628
                  operator:
                    id: 39203
                  additionalInstructions: ''
                  operatorNotes: operatorNotes
                  documentIds:
                    - 41
                    - 40
                  targetBatch: null
                  movements:
                    - vessel:
                        id: 1
                      newStorageAreas:
                        - vesselToMove: barrel1
                          storageArea:
                            name: Area 51
                          aisle: 2
                          stack: Stack10
                          toStack: Stack20
                          positions:
                            - level: 3
                              orientation: LEFT
                        - vesselToMove: barrel2
                          storageArea:
                            name: Area 52
                          aisle: 3
                          stack: Stack11
                          toStack: Stack201
                          positions:
                            - level: 2
                              orientation: LEFT
                    - vessel:
                        name: barrel group
                      newStorageAreas:
                        - vesselToMove: barrel1
                          storageArea:
                            name: Area 51
                          aisle: 2
                          stack: Stack10
                          toStack: Stack20
                          positions:
                            - level: 3
                              orientation: LEFT
                        - vesselToMove: barrel2
                          storageArea:
                            name: Area 52
                          aisle: 3
                          stack: Stack11
                          toStack: Stack201
                          positions:
                            - level: 2
                              orientation: LEFT
      responses:
        '201':
          description: Success
          headers:
            correlation-id:
              description: Unique identifier associated with the transaction
              schema:
                type: string
                format: uuid
            Location:
              description: The URI of newly created resource
              schema:
                type: string
              example: /barrels-movements/2342
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveBarrelsResponse'
              examples:
                moveBarrelsInABarrelGroup:
                  value:
                    data:
                      id: 1
                      modifiedTime: 164876283628
                      occurredTime: 164876283628
                      operator:
                        id: 39203
                      additionalInstructions: ''
                      operatorNotes: operatorNotes
                      documentIds:
                        - 41
                        - 40
                      targetBatch: null
                      movements:
                        - vessel:
                            id: 1
                          newStorageAreas:
                            - vesselToMove: barrel1
                              storageArea:
                                name: Area 51
                              aisle: 2
                              stack: Stack10
                              toStack: Stack20
                              positions:
                                - level: 3
                                  orientation: LEFT
                            - vesselToMove: barrel2
                              storageArea:
                                name: Area 52
                              aisle: 3
                              stack: Stack11
                              toStack: Stack201
                              positions:
                                - level: 2
                                  orientation: LEFT
                moveSingleBarrelGroup:
                  value:
                    data:
                      id: 1
                      occurredTime: 164876283628
                      modifiedTime: 164876283628
                      operator:
                        id: 39203
                        name: 'User, A'
                        extId: null
                      movements:
                        - vessel:
                            id: 123
                            name: barrel group
                          newStorageAreas:
                            - storageArea:
                                id: 100
                                name: Area 51
                                code: Area51
                              aisle: 2
                              stack: Stack10
                              toStack: Stack20
                              positions:
                                - level: 3
                                  orientation: LEFT
                            - storageArea:
                                id: 101
                                name: Area 52
                                code: Area52
                              aisle: 3
                              stack: Stack11
                              toStack: Stack21
                              positions:
                                - level: 2
                                  orientation: LEFT
                moveSingleBarrel:
                  value:
                    data:
                      id: 1
                      occurredTime: 164876283628
                      modifiedTime: 164876283628
                      operator:
                        id: 39203
                        name: 'User, A'
                        extId: null
                      movements:
                        - vessel:
                            id: 123
                            name: barrel
                          newStorageAreas:
                            - storageArea:
                                id: 101
                                name: Area 52
                                code: Area52
                              aisle: 3
                              stack: Stack11
                              toStack: Stack21
                              positions:
                                - level: 2
                                  orientation: LEFT
                moveEmptyBarrel:
                  value:
                    data:
                      dateOccurred: 164876283628
                      operator:
                        id: 39203
                        name: 'User, A'
                        extId: null
                      movements:
                        - vessel:
                            id: 123
                            name: barrel
                          newStorageAreas:
                            - storageArea:
                                id: 101
                                name: Area 52
                                code: Area52
                              aisle: 3
                              stack: Stack11
                              toStack: Stack21
                              positions:
                                - level: 2
                                  orientation: LEFT
                moveEmptyBarrelGroup:
                  value:
                    data:
                      dateOccurred: 164876283628
                      operator:
                        id: 39203
                        name: 'User, A'
                        extId: null
                      movements:
                        - vessel:
                            id: 123
                            name: barrel group
                          newStorageAreas:
                            - storageArea:
                                id: 100
                                name: Area 51
                                code: Area51
                              aisle: 2
                              stack: Stack10
                              toStack: Stack20
                              positions:
                                - level: 3
                                  orientation: LEFT
                            - storageArea:
                                id: 101
                                name: Area 52
                                code: Area52
                              aisle: 3
                              stack: Stack11
                              toStack: Stack21
                              positions:
                                - level: 2
                                  orientation: LEFT
                moveEmptyBarrelGroupIndividualBarrel:
                  value:
                    data:
                      dateOccurred: 164876283628
                      operator:
                        id: 39203
                        name: 'User, A'
                        extId: null
                      movements:
                        - vessel:
                            id: 123
                            name: barrel group
                          newStorageAreas:
                            - vesselToMove: barrel1
                              storageArea:
                                id: 100
                                name: Area 51
                                code: Area51
                              aisle: 2
                              stack: Stack10
                              toStack: Stack20
                              positions:
                                - level: 3
                                  orientation: LEFT
                            - vesselToMove: barrel2
                              storageArea:
                                id: 101
                                name: Area 52
                                code: Area52
                              aisle: 3
                              stack: Stack11
                              toStack: Stack201
                              positions:
                                - level: 2
                                  orientation: LEFT
                multiMove:
                  value:
                    data:
                      occurredTime: 164876283628
                      operator:
                        id: 39203
                      additionalInstructions: ''
                      operatorNotes: operatorNotes
                      documentIds:
                        - 41
                        - 40
                      targetBatch: null
                      movements:
                        - vessel:
                            id: 1
                          newStorageAreas:
                            - vesselToMove: barrel1
                              storageArea:
                                name: Area 51
                              aisle: 2
                              stack: Stack10
                              toStack: Stack20
                              positions:
                                - level: 3
                                  orientation: LEFT
                            - vesselToMove: barrel2
                              storageArea:
                                name: Area 52
                              aisle: 3
                              stack: Stack11
                              toStack: Stack201
                              positions:
                                - level: 2
                                  orientation: LEFT
                        - vessel:
                            name: barrel group
                          newStorageAreas:
                            - vesselToMove: barrel1
                              storageArea:
                                name: Area 51
                              aisle: 2
                              stack: Stack10
                              toStack: Stack20
                              positions:
                                - level: 3
                                  orientation: LEFT
                            - vesselToMove: barrel2
                              storageArea:
                                name: Area 52
                              aisle: 3
                              stack: Stack11
                              toStack: Stack201
                              positions:
                                - level: 2
                                  orientation: LEFT
        default:
          $ref: '#/components/responses/DefaultError'
  /wine-batches:
    parameters:
      - $ref: '#/components/parameters/CorrelationId'
    get:
      summary: Get a list of wine batches in the system
      description: Get the wine batches in the system
      parameters:
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: common-schemas.yaml#/components/parameters/VintraceEntityIds
        - name: include
          in: query
          required: false
          schema:
            type: string
            example: 'allocations,vessels'
          description: 'By default, allocations and vessels won''t be included in the response unless requested using this query param'
      responses:
        '200':
          description: Success
          headers:
            correlation-id:
              description: Unique identifier associated with the transaction
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWineBatchSuccessResponse'
              examples:
                successResponse:
                  value:
                    totalResults: 1000
                    offset: 0
                    limit: 10
                    first: /wine-batches?offset=0&limit=10
                    previous: null
                    next: /wine-batches?offset=10&limit=10
                    last: /wine-batches?offset=990&limit=10
                    results:
                      - id: 571
                        batchCode: test-batchCode
                        batchNumber: test-batchNumber
                        description: test
                        productionYear: 2022
                        owner:
                          id: 1
                          extId: O66253
                          name: JX2 Winery
                        grading:
                          scaleId: 2
                          scaleName: Wine
                          valueId: 67
                          valueName: A
                        program:
                          id: 33
                          name: Premium Chardonnay
                        designatedRegion:
                          id: 32
                          name: Napa Valley
                        designatedSubRegion:
                          id: 33
                          name: SubA
                        designatedVariety:
                          id: 34
                          name: Shiraz
                        winery:
                          id: 5
                          name: My Winery
                        category:
                          id: 1
                          name: Bulk Wine
                        designatedProduct:
                          id: 625
                          name: CHNAVPREM
                        costsTrackedPercentage: 100
                        ageOfSpirits: test
                        serviceOrder:
                          id: 1234
                          name: JX2 2023
                        fractionType: FREE_RUN
                        inactive: false
                        vessels:
                          - id: 1
                            name: TANK_01
                            type: TANK
                            amount:
                              value: 34
                              unit: L
                        allocations:
                          - product:
                              id: 625
                              name: CHNAVPREM
                              code: CHV
                            vintage: 2021
                            itemCode: 21CHAVPREM
                            allocationVolume:
                              value: 600
                              unit: L
                            allocationPercentageOfVessel: 100
        default:
          $ref: '#/components/responses/DefaultError'
    post:
      summary: Create a wine batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWineBatchRequest'
            examples:
              createNewBatch:
                value:
                  batchCode: test-batchCode
                  batchNumber: test-batchNumber
                  description: test
                  productionYear: 2022
                  owner:
                    id: 1
                    name: JX2 Winery
                  grading:
                    scaleId: 2
                    scaleName: Wine
                    valueId: 67
                    valueName: A
                  program:
                    id: 33
                    name: Premium Chardonnay
                  designatedRegion:
                    name: Napa Valley
                  designatedSubRegion:
                    name: SubA
                  designatedVariety:
                    name: Shiraz
                  winery:
                    id: 5
                    name: My Winery
                  category:
                    id: 1
                    name: Bulk Wine
                  designatedProduct:
                    id: 625
                    name: CHNAVPREM
                  costsTrackedPercentage: 100
                  ageOfSpirits: test
                  serviceOrder:
                    id: 1234
                    name: JX2 2023
                  fractionType: FREE_RUN
      responses:
        '201':
          description: Success
          headers:
            correlation-id:
              description: Unique identifier associated with the transaction
              schema:
                type: string
                format: uuid
            Location:
              description: The URI of newly created resource
              schema:
                type: string
              example: /wine-batches/123
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateWineBatchSuccessResponse'
              examples:
                successResponse:
                  value:
                    data:
                      id: 571
                      batchCode: test-batchCode
                      batchNumber: test-batchNumber
                      description: test
                      productionYear: 2022
                      owner:
                        id: 1
                        name: JX2 Winery
                      grading:
                        scaleId: 2
                        scaleName: Wine
                        valueId: 67
                        valueName: A
                      program:
                        id: 33
                        name: Premium Chardonnay
                      designatedRegion:
                        name: Napa Valley
                      designatedSubRegion:
                        name: SubA
                      designatedVariety:
                        name: Shiraz
                      winery:
                        id: 5
                        name: My Winery
                      category:
                        id: 1
                        name: Bulk Wine
                      designatedProduct:
                        id: 625
                        name: CHNAVPREM
                      costsTrackedPercentage: 100
                      ageOfSpirits: test
                      serviceOrder:
                        id: 1234
                        name: JX2 2023
                      fractionType: FREE_RUN
                      inactive: false
        default:
          $ref: '#/components/responses/DefaultError'
  /operation/documents:
    put:
      summary: Upload a file to an operation
      description: This endpoint allows users to attach a document to a specified operation. The document will be associated with the operation and can be viewed later.
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachDocumentsRequest'
      responses:
        '200':
          description: Success
          headers:
            correlation-id:
              description: Unique identifier associated with the transaction
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachDocumentsSuccessResponse'
              examples:
                successResponse:
                  value:
                    documents:
                      id: 12345
                      name: delivery-docket.pdf
                    process:
                      id: 789
                      type: DELIVERY
        default:
          $ref: '#/components/responses/DefaultError'
components:
  schemas:
    GetShipmentsSuccessResponse:
      type: object
      allOf:
        - $ref: common-schemas.yaml#/components/schemas/Shared-openapi_PageRoot
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/ShipmentData'
    ShipmentData:
      description: This shipment object contains the data from the bulk dispatch operation and inter-winery dispatch operation.
      type: object
      properties:
        id:
          description: The unique internal identifier of this shipment generated by system
          type: integer
        workOrderNumber:
          description: The associated work order number. Only set when the operation is scheduled in work order
          type: string
        jobNumber:
          description: The job sequence on the work order for this shipment
          type: string
        shipmentNumber:
          description: The unique business identifier of this shipment
          type: string
        type:
          description: The type of the operation that triggers this shipment.
          type: string
          enum:
            - BULK
            - INTER_WINERY
        source:
          $ref: common-schemas.yaml#/components/schemas/Winery
        destination:
          $ref: '#/components/schemas/ShipmentDestination'
        occurredTime:
          description: The time when this shipment occurs. Time is returned in epoch milliseconds
          type: integer
          format: int64
        modifiedTime:
          description: The last modified time of this shipment. Time is returned in epoch milliseconds
          type: integer
          format: int64
        wineDetails:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentWineDetails'
        carrier:
          description: The carrier that does the logistics
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/ExtIdentifiableEntity
        reference:
          description: The reference number of this shipment
          type: string
        dispatchType:
          description: The type of this shipment.
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/IdentifiableEntity
        freightCode:
          description: The freight code of this shipment.
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/IdentifiableEntity
        reversed:
          description: This flag indicates if the operation has been reversed.
          type: boolean
    ShipmentDestination:
      description: This object represents the entity that's receiving the wine in dispatch operation.
      properties:
        winery:
          $ref: common-schemas.yaml#/components/schemas/Winery
        party:
          $ref: common-schemas.yaml#/components/schemas/ExtIdentifiableEntity
    ShipmentWineDetails:
      description: Contains the details of wine that's dispatched
      properties:
        vessel:
          description: The name of the vessel
          type: string
        batch:
          description: The name of the batch. Deprecated. Use wineBatch.name instead
          type: string
          deprecated: true
        wineBatch:
          description: The details of the wine batch the wine in this vessel belongs to
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/WineBatchDetails
        wineryBuilding:
          $ref: common-schemas.yaml#/components/schemas/IdentifiableEntity
        volume:
          description: The volume that's been shipped
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/Measurement
        loss:
          $ref: '#/components/schemas/WineTransferLoss'
        bottlingDetails:
          description: The extra details when the dispatch type is bottling
          type: string
        weight:
          description: The weight of the wine
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/Measurement
        cost:
          description: The cost of the batch at the operation time
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/CostBreakdown
        allocations:
          description: The latest allocations of the wine
          type: array
          items:
            allOf:
              - $ref: common-schemas.yaml#/components/schemas/AllocationSlice
        metrics:
          description: The latest metrics of the wine
          type: array
          items:
            allOf:
              - $ref: common-schemas.yaml#/components/schemas/AnalysisResult
        composition:
          description: The composition of the wine
          type: array
          items:
            $ref: '#/components/schemas/Composition'
    HarvestMethod:
      description: Was the fruit harvested by hand or machine?
      type: string
      enum:
        - HAND
        - MACHINE
    DeliveryType:
      description: Delivery method for the harvested fruit
      type: string
      enum:
        - BINS
        - TIPPER
        - OTHER
    PmsRate:
      description: PMS (SO2) addition rate planned
      type: object
      properties:
        id:
          description: The unique identifier for the PMS rate.
          type: integer
        value:
          description: The numeric value of the PMS (SO2) addition rate
          type: number
          format: double
        unit:
          description: The unit for the PMS (SO2) addition rate (e.g. 'ppm')
          type: string
    JobStatus:
      description: The job status of the operation
      type: string
      enum:
        - draft
        - ready
        - pending
        - in progress
        - submitted
        - complete
    GetBarrelTreatmentsSuccessResponse:
      type: object
      allOf:
        - $ref: common-schemas.yaml#/components/schemas/Shared-openapi_PageRoot
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/BarrelTreatmentData'
    BarrelTreatmentData:
      description: This object contains the data from the barrel treatment operation.
      allOf:
        - $ref: '#/components/schemas/ScheduleOperationDetails'
      properties:
        treatment:
          $ref: '#/components/schemas/BarrelTreatmentType'
        barrels:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentBarrelDetails'
        totalWeight:
          $ref: common-schemas.yaml#/components/schemas/Measurement
        scale:
          $ref: common-schemas.yaml#/components/schemas/IdentifiableEntity
        carrier:
          $ref: common-schemas.yaml#/components/schemas/ExtIdentifiableEntity
        party:
          $ref: common-schemas.yaml#/components/schemas/ExtIdentifiableEntity
        source:
          $ref: common-schemas.yaml#/components/schemas/Winery
        reference:
          description: The reference number of this treatment
          type: string
        bolCode:
          description: The bill of lading code of this treatment
          type: string
        freightCode:
          description: The freight code of this treatment.
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/IdentifiableEntity
    BarrelTreatmentType:
      description: Contains barrel treatment info.
      properties:
        id:
          description: id of the barrel treatment definition
          type: integer
        name:
          description: name of the barrel treatment definition
          type: string
        description:
          description: description of the barrel treatment definition
          type: string
        barrelState:
          $ref: '#/components/schemas/BarrelState'
        bolRequired:
          description: Require a Bill Of Lading be printed
          type: boolean
    ShipmentBarrelDetails:
      description: Contains the details of the barrel that has been dispatched
      properties:
        id:
          description: id of the barrel
          type: integer
        name:
          description: name of the barrel
          type: string
        capacity:
          $ref: common-schemas.yaml#/components/schemas/Measurement
    BarrelState:
      description: state of the barrel
      type: string
      enum:
        - SOUSED
        - WINE
        - OFFLINE
        - QC
    CreateBookingSuccessResponse:
      description: The response object of creating booking
      properties:
        data:
          $ref: '#/components/schemas/Booking'
    Booking:
      type: object
      required:
        - bookingNumber
        - block
        - expectedTime
        - owner
        - vintage
      properties:
        id:
          description: The unique identifier of this booking. Generated by vintrace.
          type: integer
        bookingNumber:
          description: The human identifiable unique number for this booking.
          type: string
        bookedBy:
          description: User who created/booked this fruit booking.
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/IdentifiableEntity
        winery:
          description: The winery that the fruit is being delivered to.
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/Winery
        block:
          description: The block that the fruit will be picked from.
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/ExtIdentifiableEntity
        grower:
          description: The grower supplying the fruit.
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/ExtIdentifiableEntity
        vineyard:
          description: The vineyard the fruit originates from.
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/ExtIdentifiableEntity
        variety:
          description: Variety of the fruit being received.
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/CodedIdentifiableEntity
        region:
          description: Region/Sub AVA of the fruit being received.
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/CodedIdentifiableEntity
        subRegion:
          description: Sub region/Micro AVA of the fruit being received.
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/CodedIdentifiableEntity
        appellations:
          description: List of appellations associated with the fruit being received.
          type: array
          items:
            type: string
        vintage:
          description: Vintage of the fruit being received.
          type: integer
        growerContract:
          description: The grower contract linked to this booking.
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/IdentifiableEntity
        intendedProduct:
          description: The product that the extracted fruit is destined for.
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/ExtIdentifiableEntity
        expectedTime:
          description: The booking time of the fruit receival. It's returned in epoch milliseconds.
          type: integer
          format: int64
        expectedEndTime:
          type: integer
          format: int64
          description: The expected end time of the receival. It's returned in epoch milliseconds.
        expectedDurationInMinutes:
          description: How long you expect the fruit receival to take in minutes.
          type: integer
        expectedQuantity:
          description: The expected amount to be received against this load.
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/Measurement
        bookingState:
          $ref: '#/components/schemas/BookingState'
        harvester:
          description: The company or team harvesting the fruit.
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/ExtIdentifiableEntity
        note:
          description: Any notes / comments against the booking.
          type: string
        crusher:
          description: The crusher or press that is planned to be used at extraction.
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/ExtIdentifiableEntity
        owner:
          description: The owner of the fruit (who you are receiving it for).
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/ExtIdentifiableEntity
        carrier:
          description: The transporter of the fruit.
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/ExtIdentifiableEntity
        receivingScales:
          description: The scales to receive the fruit at.
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/IdentifiableEntity
        receivingVessel:
          description: The vessel that the extracted fruit is destined for.
          allOf:
            - $ref: common-schemas.yaml#/components/schemas/IdentifiableEntity
        harvestMethod:
          allOf:
            - $ref: '#/components/schemas/HarvestMethod'
        referenceNumber:
          type: string
          description: External or internal reference number associated with the booking.
        pickTime:
          type: integer
          format: int64
          description: The time the fruit is expected to be picked. It's returned in epoch milliseconds.
        program:
          description: Program associated with the booking.
          allOf:
[...]
